<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Opposites Attract</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='stylesheet.css') }}"/>
  <link href="https://fonts.googleapis.com/css?family=Cairo|Pontano+Sans|Rajdhani|Raleway|Ropa+Sans" rel="stylesheet">
  </head>
  <body >
<h1> About </h1>
<p> Welcome to Opposites Attract! </p>
   <div class="navbar">
     <a href="{{url_for('index')}}" class = "active">Home</a>
     <a href="{{url_for('about')}}" class = "active">About</a>
     <a href="{{url_for('contact')}}" class= "active">Contact</a>
   </div>
  </body>

</html>
