<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Opposites Attract</title>
  <link rel="stylesheet" href="static/stylesheet1.css"/>
  <link href="https://fonts.googleapis.com/css?family=Cairo|Pontano+Sans|Rajdhani|Raleway|Ropa+Sans" rel="stylesheet">
  </head>
  <body >
<h1> About </h1>
<p> Welcome to Opposites Attract! We are an untraditional dating website aimed at matching up soulmates in untraditional ways. Most dating websites which use questionnaires to find each person's "perfect match", but as our name suggests, we try to match each person with their opposite. Other functionalities include finding matches of people who would dislike each other the most and finding matches that would result in a "friendzone."</p>
<br>
<br>
<p> Created by Adiel Felsen, Richard Quinlivan and Ilana Grossman as a part of HackBU 2019.</p>
<p> Recipient of the "Best Valentine's Day Hack" award.</p>
<br>
   <div class="navbar">
     <a href="{{url_for('index')}}" class = "active">Home</a>
     <a href="{{url_for('about')}}" class = "active">About</a>
     <a href="{{url_for('contact')}}" class= "active">Contact</a>
   </div>
  </body>

</html>
