<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Opposites Attract</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='stylesheet.css') }}"/>
  <link href="https://fonts.googleapis.com/css?family=Cairo|Pontano+Sans|Rajdhani|Raleway|Ropa+Sans" rel="stylesheet">
  </head>
  <body >
<h1> Contact </h1>

   <div class="navbar">
     <a href="index.html" class = "active">Home</a>
     <a href="about.html" class = "active">About</a>
     <a href="contact.html" class = "active">Contact</a>
   </div>
  </body>

</html>
