<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Opposites Attract</title>
  <link rel="stylesheet" href="static/stylesheet1.css"/>
  <link href="https://fonts.googleapis.com/css?family=Cairo|Pontano+Sans|Rajdhani|Raleway|Ropa+Sans" rel="stylesheet">
  </head>
  <body >
<h1> Contact </h1>
<p>Adiel Felsen: afelsen85@gmail.com<br>https://github.com/afelsen</p>
<p>Richard Quinlivan: rquinli1@binghamton.edu<br>https://github.com/Richard-Quinlivan</p>
<p>Ilana Grossman: igrossm2@binghamton.edu<br>https://github.com/ilanahope</p>
   <div class="navbar">
     <a href="index.html" class = "active">Home</a>
     <a href="about.html" class = "active">About</a>
     <a href="contact.html" class = "active">Contact</a>
   </div>
  </body>

</html>
