<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Opposites Attract</title>
  <link rel="stylesheet" href="static/stylesheet1.css"/>
  <link href="https://fonts.googleapis.com/css?family=Cairo|Pontano+Sans|Rajdhani|Raleway|Ropa+Sans" rel="stylesheet"/>
  </head>
  <body >

    <h1> Opposites Attract <h1>
    <img src = "static/coupleSilhouette2.png" alt="Happy Couples!">

    <a href = "ProfileCreation.html" ><button type="button">  Make Your Profile</button></a>

   <div class="navbar">
    <a href="index.html" class = "active">Home</a>
    <a href="about.html" >About</a>
    <a href="contact.html" >Contact</a>
   </div>
 </body>
</html>
