<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Create Your Profile!</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='stylesheet2.css') }}"/>
  <link href="https://fonts.googleapis.com/css?family=Cairo|Pontano+Sans|Rajdhani|Raleway|Ropa+Sans" rel="stylesheet">
  </head>
  <body>

    <h1 id = "profileTitle"> Create Your Profile! </h1>
    <form id = "form1" action="actionpage.php" method = "get">
      <fieldset>
        <legend id = "profileTitle">Personal information:</legend>
        <div id = "profileTitle"> Name: </div>
        <input id = "textBox" type="text" name="name" value="">
        <br>
        <br>
        <br>

        <div id = "profileTitle"> Gender: </div>
        <div>
          <input type="radio" name="Gender" value="male" checked> Male
          <input type="radio" name="Gender" value="female"> Female
          <input type="radio" name="Gender" value="other"> Other
        </div>
        <br>

        <div id = "profileTitle"> Preferred Gender: </div>
        <div>
          <input type="radio" name="pGender" value="male" checked> Male
          <input type="radio" name="pGender" value="female"> Female
          <input type="radio" name="pGender" value="other"> Other
        </div>
        <br>
        <br>

        <div id = "profileTitle"> Age: </div>
        <input id = "textBox" type="text" name="Age" value="">
        <br>
        <br>

        <div id = "profileTitle">Preferred Age</div>
        <div>
          <input type="checkbox" name = "pAge1" value = "[18,21]">  18-21
            <input type="checkbox" name = "pAge2" value = "[21,24]"> 21-24
          <input type="checkbox" name = "pAge3" value = "[24-27]"> 24-27
          <input type="checkbox" name = "pAge4" value = "[27-30]"> 27-30
         <input type="checkbox" name = "pAge2" value = "[30,100]"> 30+
        </div>
        <br>
        <br>

        <div id = "profileTitle">Height: </div>
        <input id= "textBox" type="text" name="Height" value="">
        <br>
        <br>

        <div id = "profileTitle">Preferred Height</div>
        <div>
          <input type="checkbox" name = "pHeight" value = "[0,60]"> < 5'

          <input type="checkbox" name = "pHeight" value = "[60,64]"> 5' - 5'4"

          <input type="checkbox" name = "pHeight" value = "[64,68]"> 5'4" - 5'8"

          <input type="checkbox" name = "pHeight" value = "[68,72]"> 5'8" - 6'

          <input type="checkbox" name = "pHeight" value = "[68,72]"> > 6'

          <br>
          Importance
          <select>
            <option value=1>1</option>
            <option value=2>2</option>
            <option value=3>3</option>
            <option value=4>4</option>
            <option value=5>5</option>
            <option value=6>6</option>
            <option value=7>7</option>
            <option value=8>8</option>
            <option value=9>9</option>
            <option value=10>10</option>
          </select>
        </div>
        <br>
        <br>



        <div id = "profileTitle">Religion</div>
        <div>
          <input type="radio" name = "Religion" value = "Christianity"> Christianity

          <input type="radio" name = "Religion" value = "Judaism"> Judaism

          <input type="radio" name = "Religion" value = "Islam"> Islam

          <input type="radio" name = "Religion" value = "Hinduism"> Hinduism

          <input type="radio" name = "Religion" value = "Other/None"> Other/None

          <br>Importance that partner has the same religion
          <select>
            <option value=1>1</option>
            <option value=2>2</option>
            <option value=3>3</option>
            <option value=4>4</option>
            <option value=5>5</option>
            <option value=6>6</option>
            <option value=7>7</option>
            <option value=8>8</option>
            <option value=9>9</option>
            <option value=10>10</option>
          </select>
        </div>
        <br>
        <br>

        <div id = "profileTitle">Politics</div>
        <div>
          <input type="radio" name = "Politics" value = "Democrat"> Democrat

          <input type="radio" name = "Politics" value = "Republican"> Republican

          <input type="radio" name = "Politics" value = "Independent"> Independent

          <input type="radio" name = "Politics" value = "Other"> Other
      </div>

          <div>Importance that partner has the same politcs
          <select>
            <option value=1>1</option>
            <option value=2>2</option>
            <option value=3>3</option>
            <option value=4>4</option>
            <option value=5>5</option>
            <option value=6>6</option>
            <option value=7>7</option>
            <option value=8>8</option>
            <option value=9>9</option>
            <option value=10>10</option>
          </select>
        </div>
        <br>
        <br>

        <div id = "profileTitle">Are you an introvert or an extrovert?</div>
        <div>
          <input type="radio" name = "IntroExtro" value = "Introvert">  Introvert

          <input type="radio" name = "IntroExtro" value = "Extrovert">  Extrovert
        </div>
        <br>

        <div id = "profileTitle">Would you like your partner to be an introvert or an extrovert?</div>
        <div>
          <input type="radio" name = "PIntroExtro" value = "Introvert">  Introvert

          <input type="radio" name = "PIntroExtro" value = "Extrovert">  Extrovert

          <br>
          Importance:
          <select>
            <option value=1>1</option>
            <option value=2>2</option>
            <option value=3>3</option>
            <option value=4>4</option>
            <option value=5>5</option>
            <option value=6>6</option>
            <option value=7>7</option>
            <option value=8>8</option>
            <option value=9>9</option>
            <option value=10>10</option>
          </select>
        </div>
        <br>
        <br>

        <div id = "profileTitle">Do you smoke? </div>
        <div>
            <input type="radio" name = "Smoker" value = "Yes"> Yes
          <input type="radio" name = "Smoker" value = "No">  No
        </div>
        <br>
        <div id = "profileTitle">Would you be okay with your partner smoking?</div>
        <div>
          <input type="radio" name = "Psmoker" value = "Yes"> Yes

         <input type="radio" name = "Psmoker" value = "No"> No



         <div>
         Importance
         <select>
           <option value=1>1</option>
           <option value=2>2</option>
           <option value=3>3</option>
           <option value=4>4</option>
           <option value=5>5</option>
           <option value=6>6</option>
           <option value=7>7</option>
           <option value=8>8</option>
           <option value=9>9</option>
           <option value=10>10</option>
         </select>
     </div>
     <br>
     <br>

     <div id = profileTitle>Do you consider yourself messy or neat?</div>
     <div>
       <input type="radio" name = "MessyNeat" value = "Messy">  Messy

        <input type="radio" name = "MessyNeat" value = "Neat">  Neat
     </div>
     <br>
     <div id = profileTitle>Would you like a partner to be messy or neat?</div>
     <div>
         <input type="radio" name = "PMessyNeat" value = "Messy">  Messy

          <input type="radio" name = "PMessyNeat" value = "Neat">  Neat
     </div>

     <div>
     Importance:
     <select>
       <option value=1>1</option>
       <option value=2>2</option>
       <option value=3>3</option>
       <option value=4>4</option>
       <option value=5>5</option>
       <option value=6>6</option>
       <option value=7>7</option>
       <option value=8>8</option>
       <option value=9>9</option>
       <option value=10>10</option>
     </select>
     </div>
     <br>
     <br>
     <div id = profileTitle>Are you a dog person or a cat person?</div>
     <div>
       <input type="radio" name = "DogCat" value = "Dog">  Dog

       <input type="radio" name = "DogCat" value = "Cat">  Cat
     </div>

     <div>
     Importance that your partner is the same
     <select>
       <option value=1>1</option>
       <option value=2>2</option>
       <option value=3>3</option>
       <option value=4>4</option>
       <option value=5>5</option>
       <option value=6>6</option>
       <option value=7>7</option>
       <option value=8>8</option>
       <option value=9>9</option>
       <option value=10>10</option>
     </select>
     </div>
     <br>
        <div>
        <input id = "submit" type="submit" value="Submit">
      </fieldset>
    </form>

<br>
<br>
<br>
    <div id="results"></div>
    <div class="navbar">
      <a href="index.html" class = "active">Home</a>
      <a href="about.html" class = "active">About</a>
      <a href="contact.html" class = "active">Contact</a>
    </div>
  </body>
</html>
